<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Insert Hours</title>
    <style>
        body {
            background: linear-gradient(0.25turn, #e5e5e5, #b6b6b6, #e5e5e5);
        }

        label {
            color: #939393;
        }

        input {
            background: #e8ffe5;
            box-shadow: 3px 3px #b4b4b4 inset;
            font-size: 16px;
            border-radius: 15px;
            border-width: 0px;
            padding: 5px;
            padding-left: 20px;
            margin: 5px;
            width: 600px;
            height: 32px;
        }

        input#hoursAmount {
            width: 50px;
        }

        select {
            background: #e8ffe5;
            box-shadow: 3px 3px #b4b4b4 inset;
            font-size: 16px;
            border-radius: 15px;
            border-width: 0px;
            padding: 5px;
            padding-left: 20px;
            margin: 5px;
            width: 625px;
            height: 40px;
        }

        input#insertButton {
            background: #9cff62;
            box-shadow: 3px 3px 0 #000000;
            width: 120px;
            height: 40px;
            border-width: 3px;
            padding-left: 0px;
            margin-left: 40px;
        }

        input#removeButton {
            background: #ff6262;
            box-shadow: 3px 3px 0 #000000;
            transition: all .15s linear 0s;
            position: relative;
            display: inline-block;
            width: 120px;
            height: 40px;
            border-width: 3px;
            padding-left: 0px;
            margin-left: 15px;
        }

        input#insertButton:active {
            background: #63a83b;
            box-shadow: 0px 0px 0 #000000;
            transition: all .05s linear 0s;
            top: 3px;
            left: 3px;
            position: relative;
        }

        input#insertButton:hover {
            border-color: #0014ff;
        }

        input#removeButton:active {
            background: #ad3f3f;
            box-shadow: 0px 0px 0 #000000;
            transition: all .05s linear 0s;
            top: 3px;
            left: 3px;
            position: relative;
        }

        input#removeButton:hover {
            border-color: #0014ff;
        }

        input#removeButton:active {
            background: #ad3f3f;
            box-shadow: 0px 0px 0 #000000;
            transition: all .05s linear 0s;
            top: 3px;
            left: 3px;
            position: relative;
        }

        input#removeButton:hover {
            border-color: #0014ff;
        }

        input#convertJiraReportButton {
            font-size: 10px;
            font-weight: bold;
            background: #07e3da;
            box-shadow: 3px 3px 0 #000000;
            transition: all .15s linear 0s;
            position: relative;
            display: inline-block;
            width: 55px;
            height: 40px;
            border-width: 3px;
            padding-left: 0px;
            margin-left: 30px;
        }

        input#convertJiraReportButton:active {
            background: #0d9492;
            box-shadow: 0px 0px 0 #000000;
            transition: all .05s linear 0s;
            top: 3px;
            left: 3px;
            position: relative;
        }

        input#convertJiraReportButton:hover {
            border-color: #0014ff;
        }

        input#writeToTxtButton {
            font-size: 10px;
            font-weight: bold;
            background: #ffe786;
            box-shadow: 3px 3px 0 #000000;
            transition: all .15s linear 0s;
            position: relative;
            display: inline-block;
            width: 55px;
            height: 40px;
            border-width: 3px;
            padding-left: 0px;
            margin-left: 10px;
        }

        input#writeToTxtButton:active {
            background: #bdaa64;
            box-shadow: 0px 0px 0 #000000;
            transition: all .05s linear 0s;
            top: 3px;
            left: 3px;
            position: relative;
        }

        input#writeToTxtButton:hover {
            border-color: #0014ff;
        }

        input#readTxtButton {
            font-size: 10px;
            font-weight: bold;
            background: #c987ff;
            box-shadow: 3px 3px 0 #000000;
            transition: all .15s linear 0s;
            position: relative;
            display: inline-block;
            width: 55px;
            height: 40px;
            border-width: 3px;
            padding-left: 0px;
            margin-left: 5px;
        }

        input#readTxtButton:active {
            background: #9460bd;
            box-shadow: 0px 0px 0 #000000;
            transition: all .05s linear 0s;
            top: 3px;
            left: 3px;
            position: relative;
        }

        input#readTxtButton:hover {
            border-color: #0014ff;
        }

        div#statusMessage {
            font-size: 16px;
            color: #939393;
            margin-top: 10px;
            font-weight: normal;
        }
    </style>
</head>
<body>
<form>
    <table>
        <tr>
            <td>
                <label for="filterTasks">Filter: </label>
            </td>
            <td>
                <input type="text" id="filterTasks" value="" onkeyup="findTasksFilterAndSetToMenu()"
                       onmouseover="filterTasksInfo()">
            </td>
        </tr>
        <tr>
            <td>
                <label for="foundTasks">Task: </label>
            </td>
            <td>
                <select id="foundTasks" onmouseover="foundTasksInfo()">
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label for="hoursAmount">Hours:</label>
            </td>
            <td>
                <input type="text" id="hoursAmount" value="40" size="100px" onmouseover="hoursAmountInfo()">
                <input type="button" id="insertButton" value="INSERT" onclick="insertHours()"
                       onmouseover="insertButtonInfo()">
                <input type="button" id="removeButton" value="REMOVE" onclick="removeHours()"
                       onmouseover="removeButtonInfo()">
                <input type="button" id="convertJiraReportButton" value="convJira" onclick="convertJiraReport()"
                       onmouseover="convertJiraReportInfo()">
                <input type="button" id="writeToTxtButton" value="writeTXT" onclick="writeToTxtFile()"
                       onmouseover="writeToTxtButtonInfo()">
                <input type="button" id="readTxtButton" value="parseTXT" onclick="readTxtFile()"
                       onmouseover="readTxtButtonInfo()">
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <div id="statusMessage">Waiting for pressing some button...</div>
            </td>
        </tr>
    </table>
</form>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>
<script>
    let foundFiltered = [];
    let foundId = new Map();
    let sumHoursForTask = [];
    let task = "";
    let hours = "";
    const status = document.querySelector('#statusMessage');
    document.querySelectorAll('input[id=filterTasks]')[0].onkeyup();

    function filterTasksInfo() {
        status.textContent = "Filter ? just start writing, tasks will be filtered.";
    }

    function hoursAmountInfo() {
        status.textContent = "Hours ? write here amount of h for selected task. Both , and . are supported.";
    }

    function foundTasksInfo() {
        status.textContent = "Task ? select filtered one.";
    }

    function insertButtonInfo() {
        status.textContent = "INSERT ? try to add given hours into selected task, if it is possible, starting from 1st day.";
    }

    function removeButtonInfo() {
        status.textContent = "REMOVE ? try to substruct given hours from selected task, if it is posiible, starting from last day.";
    }

    function convertJiraReportInfo() {
        status.textContent = "convJira ? read xls report from Jira and covert to input txt file.";
    }

    function writeToTxtButtonInfo() {
        status.textContent = "writeTXT ? write all filtered tasks to a txt file, including total hours.";
    }

    function readTxtButtonInfo() {
        status.textContent = "parseTXT ? read txt file and try to add/remove hours for each task.";
    }

    function findTasksFilterAndSetToMenu() {
        //console.log("filter");
        //clear task list
        const foundTasks = document.querySelector('#foundTasks');
        while (foundTasks.firstChild) {
            foundTasks.removeChild(foundTasks.lastChild);
        }

        //find tasks
        let found = [];

        var taskTable = window.opener.document.querySelector('#table3'); //put here window.opener.  <<<<<<
        var tasksRows = taskTable.children[1];
        let iFound = -1;
        for (let i = 1; i < tasksRows.children.length; i++) {
            let taskCell = tasksRows.children[i];

            let taskName = taskCell.children[1].textContent.replaceAll("\\n", "").replaceAll("\\t", "");
            if (taskName.includes("Project:") || taskName.includes("Misc -")) {
                continue;
            }
            iFound = iFound + 1;
            if (found.includes(taskName)) {
                taskName = taskName + "_duplicated";
            }
            found.push(taskName);
            // found.push(i + ")" + taskCell.children[1].textContent.replaceAll("\\n",""));

            foundId.set(found[iFound], i);
            //console.log(found[iFound] + "id = " + i);

            // finding sum hours --------------
            var sumHoursTable = window.opener.document.querySelector('#table5');  //put here window.opener.  <<<<<<
            var sumHoursTableTBody = sumHoursTable.children[1];
            var sumHoursTableTBodyTR = sumHoursTableTBody.children[i];
            var sumHoursTableTBodyTD = sumHoursTableTBodyTR.children[0];
            var sumHoursTableTBodyTDsubtable = sumHoursTableTBodyTD.children[0];
            var sumHours = sumHoursTableTBodyTDsubtable.children[0].children[0].children[1].children[0].textContent;
            //console.log("sumHours=" + sumHours);
            sumHoursForTask.push(sumHours);

            //console.log(sumHoursForTask);
            // finding sum hours
        }
        //console.log(foundId);
        //console.log(foundId.get(found[4]));
        //find tasks


        //filter
        let filter = document.querySelector('#filterTasks').value;
        filter = filter.toLowerCase();
        let words = filter.split(" ");

        foundFiltered = [];
        found.forEach(task => {
            let taskLowerCase = task.toLowerCase();
            let taskShallBeAdded = true;
            words.forEach(word => {
                if (taskLowerCase.search(word) === -1 && word !== "") {
                    taskShallBeAdded = false;
                }
            });
            if (taskShallBeAdded) {
                foundFiltered.push(task);
            }
        });


        let i = 0;
        foundFiltered.forEach(found => {
            let newOption = new Option(found);
            i++;
            let id = "foundTask-" + i;
            newOption.setAttribute('value', found);
            newOption.setAttribute('id', id);
            foundTasks.add(newOption);
        })
    }

    function insertHours() {
        task = document.querySelector('#foundTasks').value;
        // hours = parseFloat(document.querySelector('#hoursAmount').value);
        if (parseFloat("0,1") === 0) {
            hours = parseFloat(document.querySelector('#hoursAmount').value.replaceAll(",", "."));
        } else {
            hours = parseFloat(document.querySelector('#hoursAmount').value.replaceAll(".", ","));
        }

        let taskId = foundId.get(task);
        status.textContent = hours + " hours were inserted to " + task;

        //insert hours
        // ! be careful with these
        let bgColorDefaultExpected = "white";
        let bgColorPartialHoursExpected = "rgb(205, 226, 183)";
        let maxHoursDaily = 8;
        // ! be careful with these

        let shallInsertHours = false;
        let totalDayHours = 0;
        var totalDayHoursTable = window.opener.document.querySelector('#table7');  //put here window.opener.  <<<<<<
        var dayHoursTable = window.opener.document.querySelector('#table4');  //put here window.opener.  <<<<<<

        var totalDayHoursRows = totalDayHoursTable.children[1];
        var totalDayHoursCells = totalDayHoursRows.children[1];
        for (let i = 0; i < totalDayHoursCells.children.length; i++) {
            let dayHoursComponent = totalDayHoursCells.children[i];
            let dayHoursBackgroundColor = dayHoursComponent.style.getPropertyValue("background-color");
            shallInsertHours = (dayHoursBackgroundColor === bgColorPartialHoursExpected || dayHoursBackgroundColor === bgColorDefaultExpected);
            if (shallInsertHours) {
                let totalDayHoursText = dayHoursComponent.textContent;
                totalDayHours = parseFloat(totalDayHoursText);
                //console.log("Day " + i + " -> " + totalDayHours);

                if (totalDayHours < maxHoursDaily && hours > parseFloat(0)) {
                    let freeHours = maxHoursDaily - totalDayHours;
                    let hoursToInsert = freeHours <= hours ? freeHours : hours;
                    //console.log("YES, insert hours here: " + hoursToInsert + " from " + hours + "| i = " + i + ",taskId=" + taskId);
                    hours = hours - hoursToInsert;

                    //var dayHoursTable = document.querySelector('#table4');
                    let dayHoursTBody = dayHoursTable.children[1];
                    let dayHoursRow = dayHoursTBody.children[taskId];  //taskId=3
                    let dayHoursCell = dayHoursRow.children[i]; //i=0
                    let dayHoursInput = dayHoursCell.children[0];
                    let currentHours;
                    if (dayHoursInput.value === '' || dayHoursInput.value === null) {
                        currentHours = parseFloat('0');
                    } else {
                        if (parseFloat("0,1") === 0) {
                            currentHours = parseFloat(dayHoursInput.value.replaceAll(",", "."));
                        } else {
                            currentHours = parseFloat(dayHoursInput.value.replaceAll(".", ","));
                        }
                        // currentHours = parseFloat(dayHoursInput.value);
                    }
                    dayHoursInput.value = currentHours + hoursToInsert;
                    dayHoursInput.onchange();
                    // validateAllFields();
                    window.opener.document.querySelectorAll('input[id=validateAllFieldsButton]')[0].click();
                }
            }
        }
    }

    function removeHours() {
        task = document.querySelector('#foundTasks').value;
        // hours = parseFloat(document.querySelector('#hoursAmount').value);
        if (parseFloat("0,1") === 0) {
            hours = parseFloat(document.querySelector('#hoursAmount').value.replaceAll(",", "."));
        } else {
            hours = parseFloat(document.querySelector('#hoursAmount').value.replaceAll(".", ","));
        }
        let taskId = foundId.get(task);
        status.textContent = hours + " hours were removed from " + task;

        //insert hours
        // ! be careful with these
        let maxHoursDaily = 8;
        // ! be careful with these

        let shallRemoveHours = false;
        let totalDayHours = 0;
        var totalDayHoursTable = window.opener.document.querySelector('#table7');  //put here window.opener.  <<<<<<
        var dayHoursTable = window.opener.document.querySelector('#table4');  //put here window.opener.  <<<<<<

        var totalDayHoursRows = totalDayHoursTable.children[1];
        var totalDayHoursCells = totalDayHoursRows.children[1];
        for (let i = totalDayHoursCells.children.length - 1; i >= 0; i--) {
            let dayHoursComponent = totalDayHoursCells.children[i];
            let totalDayHoursText = dayHoursComponent.textContent;
            totalDayHours = parseFloat(totalDayHoursText);
            //console.log("Day " + i + " -> " + totalDayHours);

            //var dayHoursTable = document.querySelector('#table4');
            let dayHoursTBody = dayHoursTable.children[1];
            let dayHoursRow = dayHoursTBody.children[taskId];  //taskId=5
            let dayHoursCell = dayHoursRow.children[i]; //i=0
            let dayHoursInput = dayHoursCell.children[0];
            let currentHours;
            if (dayHoursInput.value === null || dayHoursInput.value === "") {
                currentHours = parseFloat("0");
            } else {
                if (parseFloat("0,1") === 0) {
                    currentHours = parseFloat(dayHoursInput.value.replaceAll(",", "."));
                } else {
                    currentHours = parseFloat(dayHoursInput.value.replaceAll(".", ","));
                }
                // currentHours = parseFloat(dayHoursInput.value);
            }

            shallRemoveHours = currentHours > parseFloat('0') && hours !== parseFloat('0');
            if (shallRemoveHours) {
                let hoursToRemove = currentHours <= hours ? currentHours : hours;
                //console.log("YES, remove hours here: " + hoursToRemove + " from " + hours + "| i = " + i + ",taskId=" + taskId);
                hours = hours - hoursToRemove;

                dayHoursInput.value = currentHours - hoursToRemove;
                try {
                    dayHoursInput.onchange();
                } catch (error) {
                    //console.log("Upps: some strange error :-(");
                }
                //validateAllFields();
                window.opener.document.querySelectorAll('input[id=validateAllFieldsButton]')[0].click();
                window.opener.document.querySelectorAll('input[id=clearZerosButton]')[0].click();
            }
        }
        ;
    }

    function writeToTxtFile() {
        let fondTasks = document.querySelector('#foundTasks').children
        hours = document.querySelector('#hoursAmount').value;
        status.textContent = "Filtered tasks were written to a txt file.";

        // open file in order to write a file & what to write
        async function writeFile() {
            const options = {
                // suggestedName: 'ppm_hours_',
                types: [
                    {
                        description: 'Text Files',
                        accept: {
                            'text/plain': ['.txt'],
                        },
                    },
                ],
            };
            const fileHandle = await window.showSaveFilePicker(options);
            const writable = await fileHandle.createWritable();

            var creationDate = new Date();
            var creationDateFormatted = +creationDate.getFullYear() + "-" + (creationDate.getMonth() + 1) + "-" + creationDate.getDate()
                + "_" + creationDate.getHours() + "-" + creationDate.getMinutes() + "-" + creationDate.getSeconds();
            await writable.write("# Created in " + creationDateFormatted + ".\\n");
            await writable.write("#------------------------------------------------------------------------------------\\n");
            await writable.write("#<-- use this for comments.\\n");
            await writable.write("# Content:\\n");
            await writable.write("# List of task names, below each current total hours.\\n");
            await writable.write("# In order to increase or decrease hours, write +XXX or -XXX, for example:\\n");
            await writable.write("#     |====1) My great task\\n");
            await writable.write("#     |12\\n");
            await writable.write("#     |-2\\n");
            await writable.write("#     |+6\\n");
            await writable.write("# So current hours for Task 1 is 12h, it will be decreased by 2h and increased by 6h.\\n");
            await writable.write("# Current hours are not required, can be deleted from this file.\\n");
            await writable.write("#------------------------------------------------------------------------------------\\n");

            for (let i = 0; i < fondTasks.length; i++) {
                let foundTask = fondTasks[i].value;
                await writable.write("====" + foundTask + "\\n");
                await writable.write(200 + "\\n");
                let sumHours = sumHoursForTask[i];
                await writable.write(sumHours + " #SUM\\n");
                //console.log("sum=" + sumHours + "\\n");
            }
            await writable.close();
        }

        // writting a file
        async function parseWriteFile() {
            await writeFile();
        }

        parseWriteFile()
    }

    function readTxtFile() {
        task = document.querySelector('#foundTasks').value;
        hours = document.querySelector('#hoursAmount').value;
        status.textContent = "Parsing given txt file.";

        //reading file
        async function getFileHandle() {
            const options = {
                types: [
                    {
                        description: 'Text Files',
                        accept: {
                            'text/plain': ['.txt'],
                        },
                    },
                ],
            };
            const [fileHandle] = await window.showOpenFilePicker(options);
            return fileHandle;
        }

        async function readFile() {
            const fileHandle = await getFileHandle();
            const file = await fileHandle.getFile();
            const content = await file.text();
            return content;
        }

        // parsing read txt file
        async function parseReadTxt() {
            const content = await readFile();
            // //console.log(content);

            let lines = content.replaceAll("\\r", "").split("\\n")
            let currentTask;
            let hours;
            let increase = false;
            let decrease = false;
            for (let i = 0; i < lines.length; i++) {
                let line = lines[i];
                //console.log("LINE|" + line);
                if (line.length === 0 || line === null) {
                    continue;
                }
                let firstLetter = line[0];
                if (firstLetter === "#") {
                    continue;
                }
                if (firstLetter === "=") {
                    increase = false;
                    decrease = false;
                    hours = parseFloat("0");
                    currentTask = line.split("====")[1];
                    //console.log("\\t-->TASK|" + currentTask);
                }
                if (firstLetter === "+") {
                    increase = true;
                    if (parseFloat("0,1") === 0) {
                        hours = parseFloat(line.replaceAll(",", ".").split("+")[1]);
                    } else {
                        hours = parseFloat(line.replaceAll(".", ",").split("+")[1]);
                    }
                    if (hours === null || hours === parseFloat("0")) {
                        continue;
                    }
                    //console.log("\\thours=" + hours);
                    let foundTaskMenu = document.querySelector('#foundTasks');
                    let foundTaskElements = foundTaskMenu.children;
                    for (let i = 0; i < foundTaskElements.length; i++) {
                        let foundTask = foundTaskElements[i].value;
                        if (currentTask === foundTask) {
                            document.querySelector('#foundTasks').value = foundTask;
                            document.querySelector('#hoursAmount').value = hours;
                            document.querySelector('#insertButton').onclick();
                            //console.log("\\t--> +  |" + hours);
                            break;
                        }
                    }
                }
                if (firstLetter === "-") {
                    increase = true;
                    if (parseFloat("0,1") === 0) {
                        hours = parseFloat(line.replaceAll(",", ".").split("-")[1]);
                    } else {
                        hours = parseFloat(line.replaceAll(".", ",").split("-")[1]);
                    }
                    if (hours === null || hours === parseFloat("0")) {
                        continue;
                    }
                    //console.log("\\thours=" + hours);
                    let foundTaskMenu = document.querySelector('#foundTasks');
                    let foundTaskElements = foundTaskMenu.children;
                    for (let i = 0; i < foundTaskElements.length; i++) {
                        let foundTask = foundTaskElements[i].value;
                        if (currentTask === foundTask) {
                            document.querySelector('#foundTasks').value = foundTask;
                            document.querySelector('#hoursAmount').value = hours;
                            document.querySelector('#removeButton').onclick();
                            //console.log("\\t--> -  |" + hours);
                            break;
                        }
                    }
                }

            }
        }

        parseReadTxt();
    }

    function convertJiraReport() {
        console.log("Convert xml")

        //reading file
        async function getFileHandle() {
            const options = {
                types: [
                    {
                        description: 'Excel files',
                        accept: {
                            'application/vnd.ms-excel': ['.xls']
                        },
                    },
                ],
            };
            const [fileHandle] = await window.showOpenFilePicker(options);
            return fileHandle;
        }

        async function readFile() {
            let content = "";
            const fileHandle = await getFileHandle();
            const permissionGranted = await fileHandle.requestPermission();
            if (!permissionGranted) {
                console.error('Permission to access file was denied');
                return;
            }
            const file = await fileHandle.getFile();
            //const content = await file.text();
            const fileReader = new FileReader();
            fileReader.addEventListener('load', (event) => {
                    const binaryString = event.target.result;
                    // Use a library like SheetJS or XLSX to parse the binary string
                    //console.log(binaryString);
                    const workbook = XLSX.read(binaryString, {type: 'binary'});
                    // read first sheet only
                    const sheetName = workbook.SheetNames[0];
                    const sheet = workbook.Sheets[sheetName];
                    // convert xls sheet to JSON
                    let sheetContent = XLSX.utils.sheet_to_json(sheet);

                    // parseSheetContent(sheetContent);
                    if (sheetContent === "" || sheetContent === null || sheetContent.length <= 1) {
                        console.log("There is no content for sheet :-(");
                        return;
                    }
                    console.log(sheetContent);
                    let jiraTaskHours = new Map();
                    let resultOfParsing = "";
                    for (let i = 0; i < sheetContent.length; i++) {
                        let row = sheetContent[i];
                        console.log("row " + i + "→" + row);
                        let taskName = "";
                        let taskHours = parseFloat(0);
                        for (var key in row) {
                            var value = row[key];
                            // console.log("key=" + key + ", value=" + value);
                            if (key.search(("PPM Project")) === 0) {
                                taskName = value;
                            } else if (key.search(("Total PPM Project")) === 0) {
                                taskHours = parseFloat(value);
                            }
                        }
                        if (taskName === "Total") {
                            continue;
                        }
                        if (taskName.match(" - ") === -1) {
                            continue;
                        }

                        taskName = taskName.replaceAll("\\t", "").split(" - ").slice(-1);   //<<<<<<<< update here
                        console.log("task=" + taskName);
                        console.log("hours=" + taskHours);

                        jiraTaskHours.set(taskName, taskHours);

                        // resultOfParsing
                        document.querySelector('#filterTasks').value = taskName;
                        document.querySelector('#hoursAmount').value = taskHours;
                        document.querySelector('#filterTasks').onkeyup();
                        document.querySelector('#foundTasks');

                        let foundTasksAmount = document.querySelector('#foundTasks').childElementCount;
                        if (foundTasksAmount > 0) {
                            for (let k = 0; k < foundTasksAmount; k++) {
                                resultOfParsing = resultOfParsing + "====" + document.querySelector('#foundTasks').children[k].value + "\\n";
                            }
                            resultOfParsing = resultOfParsing + taskHours + "\\n"
                        } else {
                            resultOfParsing = resultOfParsing + "#task not found: " + taskName + " -> " + taskHours + "\\n";
                        }
                    }

                    if (jiraTaskHours.size === 0) {
                        return;
                    }

                    console.log("resultOfParsing=");
                    console.log(resultOfParsing);

                    // // DUMMY TEST - set filter task -> get list of filtered tasks
                    // let taskName = "small feat";
                    // let taskHours = parseFloat(40);
                    // let tasksFound = "";
                    //
                    // document.querySelector('#filterTasks').value = taskName;
                    // document.querySelector('#hoursAmount').value = taskHours;
                    // document.querySelector('#filterTasks').onkeyup();
                    // document.querySelector('#foundTasks');
                    //
                    // let foundTasksAmount = document.querySelector('#foundTasks').childElementCount;
                    // for (let i = 0; i < foundTasksAmount; i++) {
                    //     tasksFound = tasksFound + "====" + document.querySelector('#foundTasks').children[i].value + "\\n";
                    // }
                    // console.log("Shall write to a file:");
                    // console.log(tasksFound);
                    // console.log(taskHours);
                    // // DUMMY TEST - set filter task -> get list of filtered tasks

                    // open file in order to write a file & what to write
                    async function writeFile() {
                        const options = {
                            // suggestedName: 'ppm_hours_',
                            types: [
                                {
                                    description: 'Text Files',
                                    accept: {
                                        'text/plain': ['.txt'],
                                    },
                                },
                            ],
                        };
                        const fileHandle = await window.showSaveFilePicker(options);
                        const writable = await fileHandle.createWritable();

                        var creationDate = new Date();
                        var creationDateFormatted = +creationDate.getFullYear() + "-" + (creationDate.getMonth() + 1) + "-" + creationDate.getDate()
                            + "_" + creationDate.getHours() + "-" + creationDate.getMinutes() + "-" + creationDate.getSeconds();
                        await writable.write("# Created in " + creationDateFormatted + ".\\n");
                        await writable.write("# Converted from Jira report file\\n");
                        await writable.write("#------------------------------------------------------------------------------------\\n");
                        await writable.write("#<-- use this for comments.\\n");
                        await writable.write("# Content:\\n");
                        await writable.write("# List of task names, below each current total hours.\\n");
                        await writable.write("# In order to increase or decrease hours, write +XXX or -XXX, for example:\\n");
                        await writable.write("#     |====1) My great task\\n");
                        await writable.write("#     |12\\n");
                        await writable.write("#     |-2\\n");
                        await writable.write("#     |+6\\n");
                        await writable.write("# So current hours for Task 1 is 12h, it will be decreased by 2h and increased by 6h.\\n");
                        await writable.write("# Current hours are not required, can be deleted from this file.\\n");
                        await writable.write("#------------------------------------------------------------------------------------\\n");
                        await writable.write(resultOfParsing);
                        await writable.close();
                    }

                    // writting a file
                    async function parseWriteFile() {
                        await writeFile();
                    }

                    parseWriteFile()
                }
            )
            fileReader.readAsBinaryString(file);
        }


        async function runReadingXmlFile() {
            console.log("reading file");
            await readFile();
        }

        runReadingXmlFile();
    }

</script>
</body>
</html>